

.readyh1{
    font-size: 90px;
    font-family: "Poppins";
    font-weight: 700;
    color: #F6D869;
    text-align: center;
    z-index: 999;
}


.readytext{
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
    margin: 15px 0px;
    line-height: 1.5;
}


.readybutton{
    height: 35px;
    width: 130px;
    border-style: solid;
    border-width: 2px;
    border-color: #64592F;
    border-radius: 30px;
    box-shadow: 0px 0px 10px -3px #f6d869 !important;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 100;
    color: #F6D869;
    text-align: center;
    background-color: transparent;
}